@import './variables.css';
@import './fonts.css';
@import './default.css';
@import './top-bar.css';
@import './Navbar.css';
@import './footer.css';
@import './pagination.css';
@import './helper.css';
@import './breadcrumb.css';
@import './sidbarcoursebox.css';


/* start course-info */

.course-info__container{
    width: 78%;
    margin: 1rem auto;
    display: flex;
    justify-content:space-between;
    margin-bottom: 2.5rem;
}

.course-info__right{
    width: 45%;
    display: flex;
    flex-direction: column;
    grid-gap: .2rem;
}

.course-info__link{
    margin-bottom: 1.5rem;
    background-color:rgba(118,136,91,.5);
    padding: .7rem 1rem;
    border-radius: .5rem;
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
}

.course-info__title {
    margin: 2rem 0;
    font-weight: bold;
    font-size: 2.4rem;
    color: var(--primary-color-text-Dark);
}

.course-info__text {
    margin-bottom: 3rem;
    font-size: 1.6rem;
    color: #7b868a;
}

.course-info__social-media-item {
    color: #b1bbbf;
    margin-left: 1.7rem;
    transition: all 400ms ease;
}

.course-info__icon {
    font-size: 2rem;
}

.course-info__left{
    width: 50%;
}

.course-info__video{
    width: 100%;
    border-radius: .7rem;
}

/* finish course-info */

.main_content{
    width: 77%;
    margin: 7rem auto;
    margin-bottom: 2.5rem;
    display: flex;
    grid-gap: 2.5rem;
}

.main_content--right{
    width: 70%;
}

/*  start course-info-box  */
.course-info_boxes{
    margin-bottom: 3rem;
}

.course-info_boxes--right{
    display: flex;
    width: 100%;
    grid-column-gap: 1.5rem;
}

.boxes_right-container{
    display: flex;
    flex-direction: column;
    grid-row-gap: 1.5rem;
    width: 100%;
}

.boxes_right--item{
    padding: 1rem 1rem;
    box-shadow: 0px 0px 10px -3px rgba(0,0,0,.3);
    border-radius: .5rem;
    display: flex;
    align-items: center;
}

.boxes_right-item-logo{
    margin: 0 1.5rem;
}

.boxes_right-item-content{
    display: flex;
    flex-direction: column;
    margin: 0 1.5rem;
    grid-row-gap: 1rem;
    color: var(--primary-color-text-Dark);
}

.item-logo{
    font-size: 3rem;
    color: var(--primary-color-green-Dark);
}
/*  finish course-info-box  */

/* Start Course progress */

.course_progress{
    margin-bottom: 3rem;
}

.course_progress-container{
    background-color: var(--white-color-Dark);
    width: 100%;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    grid-row-gap: 2rem;
    border-radius: 1.2rem;
}

.course_progress-header{
    font-size: 2rem;
    color: var(--primary-color-text-Dark);
}

.course_progress-header-title{
    margin-right: 1rem;
}

.progress{
    background-color: #f5f5f5 !important;
}
.progress-bar{
    width: 50% !important;
    background-color: #627254 !important;
}
/* Finish Course progress */

/*  start introduction  */

    .introduction{
        padding: 3rem;
        border-radius: 0.5rem;
        box-shadow: 0 0 13px 1px rgba(70, 72, 77, 0.08);
    }

    .introduction__img {
        margin-top: 3rem;
        display: block;
        border-radius: 1rem;
    }

    .introduction__text {
        margin-top: 2rem;
        color: var(--primary-color-text-Dark);
        font-size: 1.5rem;
    }

    .introduction__btns {
        margin-top: 4rem;
    }
    
    .introduction__btns-item {
        color: var(--primary-color-green-light);
        border: 2px solid var(--primary-color-green-light);
        border-radius: 0.5rem;
        padding: 0.8rem 1.5rem;
        font-weight: bold;
        font-size: 1.5rem;
    }
    
    .introduction__btns-item:hover {
        color: var(--white-color-light);
        background-color: var(--primary-color-green-light);
    }


    /* Accordion */

    .introduction__topic{
        margin: 3rem 0;
    }

    .accordion{
        margin: 1.5rem 0;
        border: 3px solid var(--primary-color-green-Dark);
        border-radius: .5rem;
    }


    .accordion-item{
        background-color: var(--white-color-light);
    }

    .accordion-button,
    .accordion-button:not(.collapsed){
        font-size: 1.5rem;
        font-weight: 800;
        color: var(--primary-color-green-light);
        background-color: var(--white-color-light);
    }

    .accordion-button::after{
       position: absolute;
       left: 1.5rem;
       width: 2rem;
       height: 2rem;
       background-position: center;
       color: var(--primary-color-green-Dark);
    }

    .introduction__accordion-body{
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 1.25rem;
    }

    .introduction__accordion-right{
        display: flex;
        align-items: center;
    }

    .introduction__accordion-count{
        width: 3.5rem;
        height: 3.5rem;
        border: 1px solid var(--primary-color-text-Dark);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .introduction__accordion-icon{
        margin: 0 1.5rem;
        font-size: 1.8rem;
    }

    .introduction__accordion-link{
        color: var(--primary-color-text-Dark);
    }

    .introduction__accordion-time{
        color: var(--primary-color-text-Dark);
    }


    /* Accordion */

    /* teacher details */

    .teacher-details{
        margin-top: 2rem;
        padding: 3rem;
        border-radius: 0.5rem;
        box-shadow: 0 0 13px 1px rgba(70, 72, 77, 0.08);
    }

    .teacher-details__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .teacher-details__header-right{
        display: flex;
        align-items: center;
    }

    .techer-details__header-profile{
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        box-shadow: 0 0 13px 1px rgba(70, 72, 77, 0.3);
    }

    .teacher-details__header-profile_title{
        display: flex;
        flex-direction: column;
        margin-right: 2rem;
    }

    .techer-details__header-link{
        text-decoration-line: underline;
    }

    .techer-details__header-skill{
        font-weight: bold;
    }

    .teacher-details__header-left{
        font-size: 1.6rem;
        background-color: var(--primary-color-green-light);
        padding: 8px;
        border-radius: .8rem;
        color: var(--white-color-light);
        display: flex;
        align-items: center;
    }

    .teacher-details__header-title{
        margin-right: .5rem;
    }

    .techer-details__footer{
        margin-top: 1rem;
        color: var(--primary-color-text-Dark);
        font-size: 1.5rem;
        
    }

    /* teacher details */

    /* main_content--left */
        .main_content--left{
            width: 30%;
        }

    /* start sidebar styles*/

        .course-info__register{
            text-align: center;
            background-color: var(--primary-color-green-light);
            padding: 1.5rem 1rem;
            border-radius: 0.5rem;
            color: var(--white-color-light);
            box-shadow: 0 0 13px 1px rgba(70, 72, 77, 0.3);
        }

        .course-info__register-title{
            font-size: 1.7rem;
        }

        .course-info__register-icon{
            margin-left: .6rem;
        }


        .course-info__total{
            text-align: center;
        }

        .course-info__total-top{
            border: 1.5px solid var(--white-color-Dark);
            border-radius: .5rem;
            padding: 2.5rem 1rem;
        }

        .course-info__total-top-sale-count{
            padding: .5rem 1rem;
            background-color: var(--primary-color-green-Dark);
            border-radius: .5rem;
            color: white;
        }

        .course-info__total-sale-icon{
            font-size: 2.8rem;
            margin-left: .5rem;
        }

        .course-info__total-top-sale-text{
            color: var(--primary-color-text-Dark);
        }

        .course-info__total-bottom{
            display: flex;
            justify-content: space-evenly;
            margin-top: 2rem;
        }

        .course-info__total-comment,
        .course-info__total-view{
            position: relative;
            display: flex;
            align-items: center;
            font-size: 1.8rem;
        }

        .course-info__total-comment::before{
            content: "";
            position: absolute;
            height: 100%;
            width: 1px;
            background-color: var(--primary-color-green-Dark);
            left: -3rem;
        }

        .course-info__total-bottom-comment-text,
        .course-info__total-bottom-view-text{
            margin-right: .5rem;
        }


        .course-info__header-short-url{
            display: flex;
            align-items: center;
            color: var(--primary-color-text-Dark);
        }

        .course-info__header-short-url-icon{
            font-size: 2rem;
        }

        .course-info__header-short-url-text{
            font-size: 1.7rem;
            margin-right: 1rem;
        }

        .course-info__header-url{
            border: 1.5px solid var(--white-color-Dark);
            border-radius: .5rem;
            margin-top: 1rem;
            display: block;
            padding: .5rem;
            text-align: center;
            text-decoration-line: underline;
        }

    /* finish sidebar styles*/


    /* main_content--left */

/*  finish introduction */