@import './variables.css';
@import './fonts.css';
@import './default.css';
@import './top-bar.css';
@import './Navbar.css';
@import './course-box.css';
@import './footer.css';
@import './helper.css';
/* @import './responsive.css'; */



/* Start style landing */

.landing{
    background: linear-gradient(-80deg, rgba(118, 136, 91,.5),rgba(98, 114, 84));
}

.container__landing{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0 3rem;
}

.landing__content{
    color: var(--white-color-light);
    text-align: center;
}

.landing__title {
    font-size: 2.4rem;
    font-weight: bold;
}

.landing__subtitle {
    font-size: 1.8rem;
    margin-top: 0.3rem;
}

.landing__searchbar{
    position: relative;
    margin: 3rem auto;
    width: 90%;
}

.landing__searchbar-input{
    width: 100%;
    padding: 1.3rem;
    border-radius: 5rem;
    border: none;
}

.landing__searchbar-btn{
    position: absolute;
    left: 1rem;
    top: .6rem;
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 50%;
    border: none;
    background-color: var(--primary-color-green-Dark);
    color: var(--white-color-light);
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-status{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--white-color-light);
    grid-gap: 1.5rem;
}

.landing-status__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: .5rem;
}

.landing-status__item svg{
    fill: var(--primary-color-text-Dark);
}

.landing-status__count {
    font-weight: bold;
    font-size: 2rem;
    margin-top: 0.5rem;
}

.landing__left-img{
    width: 100%;
}

/* Finish style landing */

/* Start Lateset Courses */

.courses {
    margin: 4rem 0;
  }

.courses-content__container{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
}

  
  .courses-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .courses-header__right {
    display: flex;
    flex-direction: column;
  }
  
  .courses-header__text {
    color: var(--primary-color-green-Dark);
    font-size: 1.5rem;
  }
  
  .courses-header__link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color-light);
    background-color: var(--primary-color-green-Dark);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    grid-gap:1rem;
    transition: all 400ms ease;
    border: 3px solid var(--primary-color-green-Dark);
  }
  
  .courses-header__link:hover {
    border: 3px solid var(--primary-color-green-Dark);
    background-color: var(--white-color-light);
  }
  
  .courses-header__icon {
    font-size: 1.5rem;
  }
  
/* Finish Latest Courses */


/* Start About Us */

.about-us{
    margin-top: 1rem;
}

.about-us__header{
    display: flex;
    flex-direction: column;
    margin-bottom: .8rem;
}  

.about-us__subtitle{
    color: var(--primary-color-green-Dark);
    font-size: 1.5rem;
}

.about-us__container{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap:1rem;
}

.about-us__box{
    padding: 1rem;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    grid-gap: 1rem;
    margin: 1rem 0;
    background-color: rgba(238, 238, 238, .5);
    height: 95%;
}

.about-us__icon {
    color: var(--primary-color-text-Dark);
    font-size: 6.5rem;
  }

.about-us__box-left{
    display: flex;
    flex-direction: column;
}
.about-us__box-title {
    font-weight: bold;
    font-size: 1.8rem;
    color: var(--primary-color-text-Dark);
}

/* Finish About Us */


/* Start Popular Courses Styles and preSell*/
.popular, .presell {
    margin: 5rem 0;
}
   
.popular__slider .course-box:hover, .presell__slider .course-box {
    transform: none;
}
  
.presell__slider, .popular__slider {
    margin: 0 2rem;
}

.popular__slider .course-box{
    background-color: rgb(249 249 249);
    width: 100%;
}

.sw-slide{
    padding: 2rem;
    margin: 0 !important;
    transition:all 400ms ease;
    /* width: 300px !important; */
}

.swiper-pagination{
    bottom: -8px !important;
}
.swiper-pagination-bullet-active{
    background-color: var(--primary-color-green-Dark);
}

.swiper-slide-active{
    transform: scale(1.1) !important;
    transition:all 400ms ease;
    z-index: 1;
}

/* Finish Popular Courses Styles and preSell*/


/* Start articles style */
.articles {
    margin: 4rem 0;
}
     
.articles-header {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
     
.articles-header__right {
   display: flex;
   flex-direction: column;
}
     
.articles-header__text {
   color: var(--primary-color-green-Dark);
   font-size: 1.5rem;
}

.articles__content-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
     
.articles-header__link {
   display: flex;
   align-items: center;
   justify-content: center;
   color: var(--white-color-light);
   background-color: var(--primary-color-green-Dark);
   padding: 0.5rem 1rem;
   border-radius: 0.5rem;
   grid-gap:1rem;
   transition: all 400ms ease;
   border: 3px solid var(--primary-color-green-Dark);
}
     
.articles-header__link:hover {
   border: 3px solid var(--primary-color-green-Dark);
   background-color: var(--white-color-light);
}
     
.articles-header__icon {
   font-size: 1.5rem;
}

.article-card{
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
    margin: 3rem .5rem;
    border-radius: 1rem;
}

.article-card__img{
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.article-card__content{
    padding: 1rem 2rem 3rem 2rem;
}

.article-card__link {
    font-weight: bold;
    color: var(--primary-color-text-Dark);
}

.article-card__text {
    color: #898989;
    font-size: 1.2rem;
    padding: 1rem 0 2.5rem 0;
}

.article-card__btn{
    border: 2px solid var(--primary-color-green-Dark);
    padding: .5rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    color: var(--primary-color-text-Dark);
}
/* Finish articles style */



