:root{
    --primary-font:"IRANSans";
    --primary-color-green-Dark:#627254;
    --primary-color-green-light:#76885B;
    --primary-color-text-Dark:#464946;
    --green-color-light:#B0C5A4;
    --white-color-light:#EEEEEE;
    --white-color-Dark:#DDDDDD;
}